<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Заказ №<%= @order.id %></h1><br>
    <h2>Пользователь: <%= @user.name %>.</h2><br>
    <h2>email: <%= @user.email %>.</h2><br>
    <% @all_price = 0 %>
    <h2>Позиции: </h2><br>
    <table>
      <tr>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Сумма</th>
      </tr>
      <% @order.positions.each do |current_position| %>
      <tr>
        <th><%= current_position.product.name %></th>
        <th><%= current_position.quantity %></th>
        <th><%= current_position.product.action_price ? current_position.product.action_price : current_position.product.price %></th>
        <% @all_price += current_position.product.action_price ? current_position.product.action_price*current_position.quantity : current_position.product.price*current_position.quantity %>
        <th><%= current_position.product.action_price ? current_position.product.action_price*current_position.quantity : current_position.product.price*current_position.quantity %></th>
      </tr>
      <% end %>
      <tr>
        <th> </th>
        <th> </th>
        <th> </th>
        <th>Итого = <%= @all_price %></th>
      </tr>

    </table>
    <br>
    <br>
    Адрес доставки: <% if @order.adress != ""%>
                    <%= @order.adress %>
                    <% else %>
                    <%="Самовывоз" %>
                    <% end %>

  </body>
</html>
