<table style="width: 100%;  vertical-align: top;">
  <tr style="vertical-align: top;">
    <th class="all_left_column" style="width: 300px; vertical-align: top;">
      <table style="width: 300px; vertical-align: top;">
        <tr class="spacer"><th>
          <table class="left_column" style="height: 100px; border: 1px solid purple;">
            <tr>
              <% if params[:param1] %>
                    <th class="profile_click" style="font-size: 20px; cursor: pointer;">Профиль</th>
              <% else %>
                    <th class="profile_click" style="font-size: 20px; cursor: pointer; background-color: green;">Профиль</th>
              <% end %>
            </tr>
            <tr>
              <% if params[:param1] %>
                    <th class="cart_click" style="font-size: 20px; cursor: pointer;  background-color: green;">Корзина</th>
              <% else %>
                    <th class="cart_click" style="font-size: 20px; cursor: pointer;">Корзина</th>
              <% end %>
            </tr>
            <tr>
              <th class="order_click" style="font-size: 20px; cursor: pointer;">История заказов</th>
            </tr>
          </table>
        </th></tr>
        <tr class="spacer"><th></th></tr>
      </table>
    </th>

    <th class="all_right_column" >
      <% if params[:param1] %>
            <table class="Cart" style="width: 655px; vertical-align: top;">
      <% else %>
            <table class="Cart" style="display: none; width: 655px; vertical-align: top;">
      <% end %>
          <tr>
            <th style="width: 55px;"> Позиция </th>
            <th style="width: 300px;"> Наименование </th>
            <th style="width: 100px;"> Количество </th>
            <th style="width: 100px;"> Сумма </th>
            <th style="width: 100px;"> Удалить </th>
          </tr>

          <% i=0 %>
          <% full_price = 0 %>

          <% @cart.positions.each do |e| %>
            <tr>
              <th style="width: 55px;"> <%= i = i+1 %> </th>
              <th style="width: 300px;"> <%= Product.find(e.product_id).name %> </th>
              <th style="width: 100px;"> <%= e.quantity %> </th>
              <th style="width: 100px;"> <%= Product.find(e.product_id).action_price ? e.quantity*Product.find(e.product_id).action_price : e.quantity*Product.find(e.product_id).price %> р.</th>
              <% full_price += Product.find(e.product_id).action_price ? e.quantity*Product.find(e.product_id).action_price : e.quantity*Product.find(e.product_id).price %>
              <th style="width: 100px;"> <%= link_to "Удалить", position_path(e.id), :method => :delete  %> </th>
              <br>
            </tr>
          <% end %>

          <tr>
            <th style="width: 55px;"> </th>
            <th style="width: 300px;"> </th>
            <th style="width: 100px;">  </th>
            <th style="width: 100px;"> Итого: <%= full_price %> р. </th>
            <th style="width: 100px;"> Удалить </th>
          </tr>

          <tr><th>
            <%= form_for Order.new do |f| %>
              Адрес:<br>
              <%= f.text_field :adress%> <br>
              <%= f.submit "Оформить заказ" %>
            <% end %>
          </th></tr>
        </table>

      <% if params[:param1] %>
          <table class="Profile" style="vertical-align: top; display: none;">
      <% else %>
          <table class="Profile" style="vertical-align: top;">
      <% end %>

        <tr>
          <th>Имя: <%= @user.name %></th>
        </tr>

        <tr>
          <th>Электронный адрес: <%= @user.email %></th>
        </tr>

        <tr>
          <th>Город: <%= @user.city %></th>
        </tr>

        <tr>
          <th>Телефон: <%= @user.telephone %></th>
        </tr>

        <tr>
          <th><%= button_tag link_to "Правка", edit_user_path(@user.id) %></th>
        </tr>
      </table>

      <table class="Order_history" style="vertical-align: top; display: none;">
        <tr><th>

        <% if current_user.orders %>
          <table>
            <tr>
              <th style="font-size: 16px; width: 150px;">Дата покупки</th>
              <th style="font-size: 16px; width: 200px;">Количество позиций</th>
              <th style="font-size: 16px; width: 100px;">Развернуть</th>
              <th></th>
            </tr>
          </table>

          <% current_user.orders.each do |cur_ord| %>
                <table>
                  <tr>
                    <th style="font-size: 14px; width: 150px; font-weight: normal;"><%= cur_ord.updated_at.strftime("%d / %m / %Y") %></th>
                    <th style="font-size: 14px; width: 200px; font-weight: normal;"><%= cur_ord.positions.size %></th>
                    <%= content_tag(:th, :class => "ordl"+cur_ord.id.to_s, :style => "font-size: 14px; width: 100px; font-weight: normal; cursor: pointer;") do %>
                    Развернуть
                    <% end %>
                    <th></th>
                  </tr>
                </table>
                <%= content_tag(:div, :class => "ordl"+cur_ord.id.to_s, :style => "display: none;") do %>
                    <table style="border: 1px solid purple;">
                      <tr>
                        <th style="font-size: 12px; width: 100px;">Товар</th>
                        <th style="font-size: 12px; width: 100px;">Количество</th>
                        <th style="font-size: 12px; width: 100px;">Стоимость</th>
                        <th></th>
                      </tr>
                      <% cur_ord.positions.each do |cur_pos| %>
                        <tr>
                          <th style="font-size: 12px; width: 150px; color: blue;"><%= link_to cur_pos.product.name, cur_pos.product %></th>
                          <th style="font-size: 12px; width: 200px;"><%= cur_pos.quantity %></th>
                          <th style="font-size: 12px; width: 100px;"><% cur_pos.product.price %></th>
                          <th></th>
                        </tr>
                      <% end %>
                    </table>
                <% end %>
          <% end %>
        <% end %>
        </th></tr>
      </table>

    </th>
  </tr>
</table>

</th>
</tr>
</table>

<script>
  $('.profile_click').on({ click: function() {
                                                $('.Order_history').hide();
                                                $('.order_click').css("background-color", "White");
                                                $('.Cart').hide();
                                                $('.cart_click').css("background-color", "White");
                                                $('.Profile').show();
                                                $('.profile_click').css("background-color", "Green");
                                              }
                                              });
  $('.cart_click').on({ click: function() {
                                                $('.Order_history').hide();
                                                $('.order_click').css("background-color", "White");
                                                $('.Profile').hide();
                                                $('.profile_click').css("background-color", "White");
                                                $('.Cart').show();
                                                $('.cart_click').css("background-color", "Green");
                                              }
                                              });
  $('.order_click').on({ click: function() {
                                                $('.Order_history').show();
                                                $('.order_click').css("background-color", "Green");
                                                $('.Profile').hide();
                                                $('.profile_click').css("background-color", "White");
                                                $('.Cart').hide();
                                                $('.cart_click').css("background-color", "White");
                                              }
                                              });
  $('th[class^="ordl"]').on({ click: function() {
                                                var cl = $(this).attr("class");
                                                if ($(this).text() == "Развернуть") {
                                                  $(this).text("Свернуть");
                                                  $('div').filter('.'+cl+'').show();
                                                }
                                                else {
                                                  $(this).text("Развернуть");
                                                  $('div').filter('.'+cl+'').hide();
                                                }
                                                }
                                            });
</script>
